body {
  padding: 0;
  margin: 0; }

html, body, #map {
  height: 100%; }

.top-bar {
  top: 0;
  position: fixed;
  z-index: 100;
  width: 100%;
  background-color: #f6f5f7;
  -webkit-box-shadow: 0 1px #b0b1b1;
  box-shadow: 0 1px #b0b1b1; }
  .top-bar img.logo {
    height: 60%; }
  .top-bar .button {
    line-height: 2.4em;
    top: 5px;
    height: 2.5em; }

.leaflet-control-zoom {
  top: 50px; }

.leaflet-control-zoom a {
  height: 40px;
  width: 40px;
  font-size: 32px;
  line-height: 40px; }

.button {
  border-style: none;
  background-color: #95A5A6; }
  .button:hover {
    background-color: #FDD441; }

#geolocation {
  margin-right: 10px; }
  #geolocation img {
    height: 60%;
    margin-right: 5px; }
