body {
  padding: 0;
  margin: 0;
}

html, body, #map {
  height: 100%;
}

#nav {
  top: 0;
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 50px;
  background-color: #f6f5f7;
  -webkit-box-shadow: 0 1px #b0b1b1;
  box-shadow: 0 1px #b0b1b1;

  img.logo {
    padding: 10px;
  }

  .button {
    line-height: 1.5em;
    top: 4px;
    height: 2.6em;
    font-size: 16px;
  }
}

.leaflet-control-zoom {
  top: 50px;
}

.leaflet-control-zoom a {
  height: 40px;
  width: 40px;
  font-size: 32px;
  line-height: 40px;
}

.button {
  border-style: none;
  background-color: #95A5A6;

  &:hover {
    background-color: #FDD441;
  }
}

// BUTTONS
.top-bar-button {
  margin-right: 10px;
  float: right;
  padding-left: .7em;

  img {
    height: 100%;
    margin-right: 5px;
  }
}

#geolocation {
  @media(max-width: 960px) {
    display: none;
  }
}

#info {
  display: none;

  @media(max-width: 960px) {
    display: block;
  }
}