<% if(env === 'production') { %>
  <script type="text/javascript" src="js/app.min.js"></script>
<% } else { %>
  <script type="text/javascript" src="js/app.js"></script>
<% } %>
<script type="text/javascript">
  // Default settings. Zoom and center overridden by URL params, if they exist
  app.opts = {
    mapContainer: 'map',
    tileURL: 'http://api.tiles.mapbox.com/v3/axisphilly.map-fg6flibn.jsonp',
    mapOptions: {
      center: [39.99, -75.150],
      zoom: 12,
      minZoom: 11,
      maxZoom: 18,
      maxBounds: [
        [39.69, -76.20],
        [40.60, -74.14]
      ],
      zoomControl: false // readded to the topright corner
    }
  }

  // Kick off map
  app.initMap(function() {
    $('#geolocation').click(function(event){
      event.stopPropagation();

      console.log('hey');
    });
  });
</script>