<footer>
  <div class="row colors">
    <div class="three columns mobile-one yellow"> </div>
    <div class="three columns mobile-one light-blue"> </div>
    <div class="three columns mobile-one red"> </div>
    <div class="three columns mobile-one dark-blue"> </div>
  </div>
  <div class="row about">
    <div class="three columns">
      <img class="logo" alt="AxisPhilly" src="https://s3.amazonaws.com/axisphilly-assets/images/logo-no-tagline-white.png"/>
      <p class="copyright">© 2013</p>
    </div>
    <div class="nine columns">
      <ul>
        <li><a href="/about">About Us</a></li>
        <li><a href="/about/contact-us">Contact Us</a></li>
        <li><a href="/about/understanding-privacy">Privacy</a></li>
        <li><a href="/about/user-agreement/">User Agreement</a></li>
      </ul>
    </div>
  </div>
</footer>
<script src="https://s3.amazonaws.com/axisphilly-assets/javascripts/foundation.min.js" type="text/javascript"></script>
<script src="https://s3.amazonaws.com/axisphilly-assets/javascripts/site.1.0.6.min.js" type="text/javascript"></script>