<!-- Fixed header -->
<header class="header">
  <div class="header-logo">
    <div class="row">
      <div class="twelve columns">
        <div>
          <a href="http://www.axisphilly.org"><img alt="AxisPhilly: Where News Breaks Through" src="https://s3.amazonaws.com/axisphilly-assets/images/transparent.png"/></a>
        </div>
      </div>
    </div>
  </div>
<div class="row">
  <div class="twelve columns">
    <div class="nav-container contain-to-grid">
      <nav class="top-bar">
        <ul>
          <li class="name">
            <a href="http://www.axisphilly.org"><img class="compressed-logo" alt="AxisPhilly: Where News Breaks Through" src="https://s3.amazonaws.com/axisphilly-assets/images/logo.png"/>AxisPhilly</a>
          </li>
          <li class="toggle-topbar has-button">
            <span class="tiny secondary button menu-button">
              <span class="line"></span>
              <span class="line"></span>
              <span class="line"></span>
            </span>
          </li>
        </ul>
        <section>
          <ul class="left">
            <li ><a href="http://www.axisphilly.org">Home</a></li>
            <li class="has-dropdown">
              <a href="#">Our Projects</a>
              <ul class="dropdown">
                <li><a href="http://www.axisphilly.org/project/poverty">Poverty</a></li>
                <li><a href="http://www.axisphilly.org/project/taxes">Taxes</a></li>
                <li><a href="http://www.axisphilly.org/project/open-gov">Open Government</a></li>
                <li class="last"><a href="http://www.axisphilly.org/project/litter">Litter</a></li>
              </ul>
            </li>
            <li class="active" ><a href="http://www.axisphilly.org/tools">Tools &amp; Data</a></li>
            <li  ><a href="http://www.axisphilly.org/about">About</a></li>
            <li class="search">
            <li class="social"><a href="http://www.twitter.com/AxisPhilly"><i class="social-foundicon-twitter"></i></a></li>
            <li class="social"><a href="http://www.facebook.com/AxisPhilly"><i class="social-foundicon-facebook"></i></a></li>
            <li class="social"><a href="http://www.axisphilly.org/?feed=rss"><i class="social-foundicon-rss"></i></a></li>
          </ul>
          <ul class="right">
            <li class="search">
              <form class="collapse" role="search" method="get" id="searchform" action="http://axisphilly.org">
                <input type="search" placeholder="Search" name="s" id="s">
              </form>
            </li>
          </ul>
        </section>
      </nav>
    </div>
  </div>
</div>
</header>