<!-- Fixed header -->
<div id="top-nav" class="bar">
  <a href="http://www.axisphilly.org"><img class="logo" alt="AxisPhilly: Where News Breaks Through" src="https://s3.amazonaws.com/axisphilly-assets/images/axisphilly-logo-equal-height.png"></a>
  <a href="#" class="small button radius nav-button find-user"><img src='img/marker.png'>Locate Me</a>
  <a href="#" class="small button radius nav-button info"><img src='img/info.png'>Info</a>
  <a href="#" class="small button radius nav-button embed"><img src='img/code.png'>Embed this map</a>
</div>
<div id="title-bar"><strong>Title of Map</strong></div>