<!DOCTYPE html>
<html lang="en">
  <head>
    <% include _head.html %>
  </head>
  <body>
    <% include _header.html %>
    <header class="row">
      <div class="twelve columns">
        <h1 class="headline">Headline</h1>
        <div class="publish-container">
          <div class="byline"><span class="byline-author">by <a href="http://axisphilly.org/author/author-slug/" title="Posts by author" rel="author">Author</a></span><span class="byline-date">, Mon. DD, YYYY</span></div>
        </div>
      </div>
    </header>
    
    <% include _app.html %>

  </body>
    <% include _footer.html %>
    <% include _footer_code.html %>
</html>